<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
</head>

<body>
    <div id="container" oncontextmenu="return false;">
        <div class="grille"></div>
        <div>Il y a  : 
            <span id="nb_mines_restantes"></span>
            mines a decouvrir.
        </div>
        <div id="result"></div>
    </div>
    
</body>
<script src="../public/js/const.js"></script>
<script src = "../public/js/box.js"></script>
<script src = "../public/js/grille.js"></script>
<script src="../public/js/main.js"></script>


</html>